/* Make clicks pass-through */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 1000%;
  height: 5px;
}

/* Remove these to get rid of the spinner */

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 100;
  top: 50vh;
  left: 45vw;
}

#nprogress .spinner-icon {
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {}

.input-group-text {
  background-image: linear-gradient(#cedfe97c, #2fa4e77c 60%, #1d9ce57c);
  background-color: #2fa4e75b!important;
  font-weight: bold;
  color: white;
}


input.time {
  font-family: monospace;
  font-size: 24pt;
}